.table{
    float: left;
    width: 15%;
    min-width: 200px;
    background-color:  rgba(175, 175, 175);
    margin: 20px 20px 0 0;
    height: fit-content;
}

.tableTitle{
    background-color:  rgba(150, 150, 150);
    font-size: 20px;
    border: solid;
    border-width: thin;
    padding: 5px;
}

.tableContent{
    padding: 10px;
}