.listWrapper{
    float: left;
    min-width: 200px;
    border: solid;
    border-width: thin;
    padding: 5px;
    margin: 5px;
    background-color:  rgb(200, 200, 200);
    word-break: break-word;
    white-space: normal;
}

.listTitle{
    text-align: center;
    margin: 0.1em;
    padding: 0.5em;
    font-size: 1.3em;
    background-color:  rgb(155, 155, 155);
}