#listWrapper{
    
    display: flex;
    overflow-x: auto;
}

#newLabelButton{
    width: 50%;
}

.labelPopupText{
    width: 50%;
    margin: 0.3em;
}

.newLabelWrapper{
    text-align: center;
}

.labelsWrapper{
    text-align: -webkit-center;
}